@use './partials/colors' as *;
@use './partials/typography' as *;
@use './layout/header' as *;
@use './layout/navigation' as *;
@use './layout/mygames' as *;
@use './pages/findgames' as *;
@use './pages/creategames' as *;
@use './partials/mediaq' as *;
@use './pages/profile' as *;

// :host {
//     --color-checked: "tertiary";

// }
.login-button {

  text-align: center;
}


.hero-logo {
    display: block;
    margin: 0 auto;
    padding: 0;

    @include mobile {
        width: 80%;
    }
}
.hero-image {
    display: block;
    width: 100%;
    margin: 10px 0px;
    color: map-get($colors, giantpeach );
    align-items: center;

    @include mobile {
        width: 100%;
        box-shadow: 0px 8px 15px;
    }

}

.landing-hero-container {
    display: block;
    margin: 0 auto;
    width: 60%;
    p {
        color: white !important; 
        text-align: center;
    }
    
}

.hero-header {
    text-align: center;
}


