@use './partials/colors' as *;
@use './partials/typography' as *;
@use './layout/header' as *;
@use './layout/navigation' as *;
@use './layout/mygames' as *;
@use './pages/findgames' as *;
@use './pages/creategames' as *;

// :host {
//     --color-checked: "tertiary";

// }
.container {
  margin-top: 20px;
}
.hero-logo {
    display: block;
    margin: 0 auto;
    padding: 0;
}
.hero-image {
    width: 70%;
    margin: 10px 0px;
    color: map-get($colors, ferngully );
    box-shadow: 0px 15px 20px;
}

.landing-hero-container {
    display: block;
    margin: 0 auto;
    width: 60%;
    p {
        color: white !important; 
    }
}
.footer {
    --ion-background-color: #588242;
}