@use '../partials/colors' as *;
@use '../partials/mediaq' as *;

.games {
    margin: 10px 0px;
}
.game-card {
   

    @include desktop{
        width: 100%;
       
    }
    
    
    
    @include mobile {
        width: 97%;
    }
}

.game-card-list {
    --ion-background-color: #FFC67A !important;
    color: black !important;
    padding: 2px 0px;
    border-radius: 15px;
    margin: auto;
    width: 80%;
}

.game-title {
    color: black !important;
    padding: 0;
    font-weight: 900;
    font-size: 20px;
}
.game-type {
    color: black !important;


}
.game-host {
    color: black !important;
    padding: 0;

}